/***************************************************************/
/* General */

nav .navbar-brand {
    font-size: xx-large;
}
.navbar {
    background-color: #CEE7E6;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.8);
    font-size: 1.15em;
}
footer {
    background-color: #CEE7E6;
    color: rgba(0,0,0,.8);
    padding: 10px;
    text-align: center;
    font-size: 1.15em;
}
main .form-control {
    /* center form controls */
    display: inline-block;
    /* override Bootstrap's 100% width for form controls */
    width: auto;
}
main {
    /* scroll horizontally as needed */
    overflow-x: auto;
    /* center contents */
    text-align: center;
}
body {
    /* background: url(so_white.png) repeat 0 0; */
}
.container {
    text-align: left;
}
/***************************************************************/
/* Elements in index.html */
.jumbotron > h1 {
    font-size: 1100px;
    font-weight: 600;
    background-color: #EAE8FF;
}
.main-title {
    font-size: 4em;
}
.card-header {
    background-color: black;
}

/***************************************************************/
/* Wizard form */

.newplan {
    /* background: url(beige_tiles.png) repeat 0 0; */
    background-color: #CEE7E6;
    margin: 100px auto;
    padding: 40px;
    width: 50%;
    min-width: 300px;
    /* display: inline-block; THIS WOULD FLEX THE WIDTH DEPENDING ON CONTENT*/
}
small > a {
    color: blue;
}
small {
    font-size: 15px;
}
.topic-line {
    /* text-align: center; */
}
/* Mark input boxes that gets an error on validation: */
/* input.invalid {
  background-color: #F7BE9E;
} */
/* Hide all steps by default: */
.tab {
  display: none;
}
.tab.card {
    background-color: #CEE7E6;
    border: hidden;
}

/* Box containing max 3-digits */
.form-control.number-box {
    width: 4.5em;
    margin-right: 6px;
    margin-left: 6px;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.step.active {
  opacity: 1;
}
/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #F79A65;
}
/* This is the name of the main topic as a page title */
.topic-title {

}
/* This is the topic-name of the tabs in newplan */
.topic-line {

}

/***************************************************************/
/* Elements in userlog.html */
.plan-table {
    /* background: url(so_white.png) repeat 0 0; */
    border: solid;
    border-width: 2px;
    border-color: #D8D5DB;
}
.proportion-input {
    margin-right: 15px;
    margin-left: 15px;
    width: 15em;
}
.session-card {
    background: #ffffff;
    width: 23em;
}
.card-header {
    background-color: #CEE7E6;
}
/* Progress bar */
.progress  {
    height: 20px;
}
.subtopic-done, .topic-done {
    background-color: #F79A65;
    color: black;
}
.subtopic-todo, .topic-todo  {
    background-color: #E2DEE5;
    color: black;
}
.thead {
    background-color: #CEE7E6;
}

/***************************************************************/
/* Buttons */
button:hover {
  opacity: 0.8;
}
.btn {
    margin-bottom: 1em;
}
.btn-special {
    background-color: #F79256;
    border: #F79256;
    color: #ffffff;
    font-weight: 600;
}
.btn-special:hover {
    background: #CC7847;
    color: #ffffff;
    border-color: #CC7847;
}
.btn-primary {
    background: #00B2AC;
    border-color: #00B2AC;
    font-weight: 500;
}
.btn-primary:hover {
    background: #00918C;
    color: #ffffff;
    border-color: #00918C;
}
.btn-secondary {
    background: #7E8991;
    border-color: #7E8991;
}

/***************************************************************/
/* Elements in addresources.html */

.full-textarea {
    width: 100%;
}

/***************************************************************/
/* Elements in changeplan.html */

/***************************************************************/
/* Register & Login */
.account-form {
    text-align: center
}
