{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

    <div class="jumbotron">
        <div class="row">
            <!-- <div class=col-sm-1></div> -->
            <div class="col-sm-6" style="text-align:center;">
                <div class="main-title">
                    <img style="align:center" src="{{ url_for('static', filename='imgs/logo.png') }}" class="card-img-top" alt="logo.png" data-toggle="tooltip" data-placement="top" title="a very pretty neuron">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="col-auto ml-auto" id="home-welcome-msg">
                    <p class="lead">Whatever skill you want to learn,
                      <br>spending 100 hours on it can be a great start.</p>
                    <p class="lead"><b>100Hours</b> can help you tackle your learning
                      and stay mindful throughout the process.</p>

                    <h4>How it works:</h4>
                    <ol class="lead">
                        <li>set a learning plan</li>
                        <li>balance how you spend your time</li>
                        <li>record your progress</li>
                        <li>keep one simple goal:</li>
                    </ol>
                    <h5>complete your first 100 hours of practice.</h5>

                    <br>
                    <a class="btn btn-info btn-lg btn-special" href="#learnMore" role="button" id="learnmore-button">Learn more</a>
                    {% if not session.user_id %}
                        <a class="btn btn-primary btn-lg" href="/register" id="begin-button">Begin</a>
                    {% else %}
                        <a class="btn btn-primary btn-lg" href="/userlog">Go to my log</a>
                    {% endif %}
                </div>
            </div>
          <div class=col-sm-1></div>
        </div>
    </div>

    <div id="learnMore">
      <div class="card card-body learn-more">
        <p>100Hours is an app for all kind of learners, in school and in life.</p>
        <p>It can be used for <b>learning</b>, <b>improving</b> or <b>re-learning</b> skills of all sorts, such as:</p>
            <ul>
                <li>Italian language,</li>
                <li>programming,</li>
                <li>parkour,</li>
                <li>the secrets of tea tasting, ...</li>
            </ul>
        <!-- <p>It can be of help:</p>
        <ul>
            <li><b>to beat procrastination</b></li>
            <li><b>you want to make a significant change in your skills, but you're not sure you should invest time in it</b></li>
                <ul>
                    <li>
                        <p>This could be for a career change for example.</p>
                        <p>One option is to spend 100 hours on it and get a taste of what it's like.</p>

                    </li>
                </ul>
            <li><b>you feel you are working hard but not really making improvements as you expected</b></li>
            <li><b>you want to become more aware of your learning and be in charge of it</b></li>
        </ul> -->

        <p>This app can help in several ways:</p>

        <ul id="accordion">


            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-light card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <li>get support with procrastination</li>
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
            </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-light collapsed card-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <li>get a taste of what a new field is like before committing to it full time</li>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </div>
                </div>



              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-light collapsed card-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <li>make sure you’re spending time learning the right things</li>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-light collapsed card-header" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      <li>become more aware of your learning and be in charge of it</li>
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
              </div>

        </ul>

      </div>
    </div>


{% endblock %}
