{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class=account-form>
        <form action="/login" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" id="username" required>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password" required id="password">
            </div>
            <button class="btn btn-primary" type="submit" id=signin-button>Sign In</button>
        </form>
    </div>
{% endblock %}
