{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <div class=account-form>
        <p>Please register to get started.</p>
        <form action="/register" method="post">
            <div class="form-group">
                <input id="username" required autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input id="password" required class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div class="form-group">
                <input id="pw-confirmation" class="form-control" required name="confirmation" placeholder="Confirm your password" type="password">
            </div>
            <button class="btn btn-primary" type="submit" value="Sign up" id="signup-button">Sign up</button>
        </form>
        <br>
        Already have an account?
        <br><a href="/login">Sign in</a>
    </div>

    <script src="{{ url_for('static', filename='js/useraccount.js') }}"></script>


{% endblock %}
