{% extends "layout.html" %}

{% block title %}
    My log
{% endblock %}

{% block main %}

    <h3>Your log is empty at the moment.</h3>
    <br>
    <a class="btn btn-lg btn-special" href="/newplan" role="button">Begin new</a>

{% endblock %}
