{% extends "layout.html" %}

{% block title %}
    My log
{% endblock %}

{% block main %}

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Great!</h4>
        <p>You have successfully created a learning plan.</p>
    </div>
    <div class="welcome">
        <p>Welcome to your log.
        <br>Here you can check your progress and add learning sessions.</p>
        <hr>
    </div>
    <div class="row plan-topbar">
        <div class="col-sm-8"><p>You are working on:</p><h1 class="topic-title" name="topic-id" value="{{ topic_id }}">{{ topic }}</h1>
           {% if total_done_hours > 0 %}
             <h6>You have done around <b>{{ total_done_hours }}</b> hours of {{ topic }}. Well done!</h6>
             <h6>Your last session was recorded on: {{ last_session_date }}</h6>
           {% else %}
             <h4>You are all set to go.</h4>
             <p>Now it's time to focus on your activities.<br>As you spend time on them, make sure to <b>Add a session</b>. <br>Enjoy your learning!</p>
           {% endif %}
        </div>
        <div class="col-sm-4" style="text-align:right;">
            <button id="add-session-collaps" class="btn btn-lg btn-special" data-toggle="collapse" data-target="#addSession" aria-expanded="false" aria-controls="collapseExample">Add a session</button>
        </div>
    </div>
    <div class="row addsession-widget">
      <div class="col-sm-8"></div>
        <div class="col-sm-4">
          <div class="collapse session-card" id="addSession">
           <div class="card-header">
               <h5>Add a session</h5>
           </div>
            <div class="card card-body session-card">
              <form action="/userlog" method="post" name="session-add-man">
                I've done (roughly) <input name="session-minutes" required class="form-control number-box" type=number min="1">minutes of
                <select name="session-subtopic" class="custom-select" style="margin-top:0.6em;margin-bottom:0.6em;" required>
                  <option value="Select one" selected disabled>Select activity</option>
                  {% for subtopic in subtopics %}
                    <option value="{{ subtopic['id'] }}">{{ subtopic['name'] }}</option>
                  {% endfor %}
                </select>
                <button id="save-session-man" class="btn btn-primary" type="submit">Save</button>
               </form>
             </div>
           </div>
         </div>
       </div>
    <br>
    <table class="table plan-table" id='learning-plan-table'>
      <thead class="thead">
        <tr>
          <th style="width:30%;">Activity</th>
          <th style="width:30%;">Resources</th>
          <th style="width:40%;">Progress</th>
        </tr>
      </thead>
      <tbody>
          {% for subtopic in subtopics %}
        <tr>
          <td class="subtopic-name">{{ subtopic['name'] }}</td>
          <td><a data-toggle="collapse" href="#{{ subtopic['name'] }} resources" role="button" aria-expanded="false" aria-controls="{{ subtopic['name'] }} resources"">show resources</a></td>
          <td>
            <div class="progress">
              <div class="progress-bar subtopic-done" role="progressbar" style="width: {{ subtopic['percentage_done'] }}%" aria-valuenow="{{ subtopic['percentage_done'] }}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="hours done">{{ subtopic['donehours'] }}h</div>
              <div class="progress-bar subtopic-todo" role="progressbar" style="width: {{ subtopic['percentage_todo'] }}%" aria-valuenow="{{ subtopic['percentage_done'] }}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="bottom" title="hours to do">{{ subtopic['todohours'] }}h</div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="collapse" id="{{ subtopic['name'] }} resources">
              {{ resources[subtopic['id']]|safe }}
              <a class="btn btn-primary"  href="{{ url_for('resources.add_new_resources', topic=topic, subtopic=subtopic['name'], subtopic_id=subtopic['id']) }}"  type="button">Edit</a>
            </div>
          </td>
        </tr>
          {% endfor %}
          <tr>
              <td><h5>Total progress</h5></td>
              <td>
                  <div class="progress">
                    <div class="progress-bar topic-done" role="progressbar" style="width: {{ total_done_hours }}%" aria-valuenow="{{ total_done_hours }}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="total hours done"><b>{{ total_done_hours }}h</b></div>
                    <div class="progress-bar topic-todo" role="progressbar" style="width: {{ total_goal_hours - total_done_hours }}%" aria-valuenow="{{ total_goal_hours - total_done_hours }}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="bottom" title="total hours to do"><b>{{ total_goal_hours - total_done_hours }}h</b></div>
                  </div>
              </td>
          </tr>
      </tbody>
    </table>
    <div class=row>
        <div class="col-sm-9"></div>
        <div class="col-sm-3" style="text-align:right;">
            <a class="btn btn-primary" href="/changeplan" role="button" id="changeplan-btn">Change this plan</a>
        </div>
    </div>


{% endblock %}
