<!DOCTYPE html>

<html lang="en">

  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>       
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">       
        <title>100Hours - {% block title %}{% endblock %}</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-light border">
          <a class="navbar-brand" href="/"><img style="width:200px;"src="{{ url_for('static', filename='imgs/logo_h.png') }}" class="card-img-top" alt="logo_h.png"><h1 style="display:inline-block;"></h1></a>
          <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
             {% if session.user_id %}
                <ul class="navbar-nav mr-auto">
                    {% if session.has_plan == "No" %}
                      <li class="nav-item"><a class="nav-link" href="/newplan">Begin new</a></li>
                    {% else %}
                      <li class="nav-item"><a class="nav-link" href="/userlog">My log</a></li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/logout">Sign out</a></li>
                </ul>
             {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Sign in</a></li>
                </ul>
             {% endif %}
          </div>
      </nav>
      <main class="container p-5">
          {% block main %}{% endblock %}
      </main>
    <footer class="footer container-fluid">&copy; Copyright 2020 ACG</footer>
  </body>
</html>
