{% extends "layout.html" %}

{% block title %}
    Ooops
{% endblock %}

{% block main %}
    <!-- http://getbootstrap.com/docs/4.1/components/alerts/ -->
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error</h4>
        <h1>{{ error_code }}</h1>
        <p>{{ message }}</p>
    </div>
    <a class="btn btn-secondary" href="{{ btn_href }}" role="button">{{ btn_title }}</a>
{% endblock %}
