{% extends "layout.html" %}

{% block main %}

    <h1>{{ topic }}</h1>

    <div class="card">
        <div class="card-body">
            <form action="{{ url_for('resources.add_new_resources', topic=topic, subtopic=subtopic, subtopic_id=subtopic_id) }}" method="post">
                <h2>Resources for: {{ subtopic }}</h2>
                <textarea class="full-textarea" id="mytextarea" name="resource-text" rows=15>
                {{ resources|safe }}
                </textarea>
                <button class="btn btn-primary save-changes" type="submit">Save</button>
            </form>

        </div>
    </div>


{% endblock %}
