{% extends "layout.html" %}

{% block title %}
    Topic page
{% endblock %}

{% block main %}

    <div class="welcome">
        <p>Down below you can make any changes to your plan.
        <br>When you're done with all your changes, click <i>Save</i>.</p>
        <hr>
    </div>

    <div name="plan">
        <h1 class="topic-title" id="topicTitle">{{ topic }}</h1>
        <p>This plan is for a total of <input type="text" id="totalHoursBox" disabled class="form-control mt-1 mb-1 number-box" value="{{ total_hours }}">hours of practice.</p>
        <div class="row" class="change-plan-table">
            <div class="col-sm-4"><h5>Activity</h5></div>
            <div class="col-sm-6"><h5>Hours for the activity</h5></div>
        </div>
        <form action="/changeplan" method="post" id="changeplanForm">
            <input type=text name="topic-id" value="{{ topic_id }}" style="display:none;">
            {% for subtopic in subtopics %}
              <div class="row subtopic-form" name="subtopicForm" id="{{ subtopic['id'] }}">
                <div class="col-sm-4">
                  <input class="form-control mt-1 mb-1" type="text" name="subtopic-name" value="{{ subtopic['name'] }}" required autocomplete="off" size="30">
                </div>
                <div class="col-sm-6">
                  <input class="proportion-input" type="range" min="1" max="{{ total_hours }}" value="{{ subtopic['hours'] }}" oninput="updateValue()"><input class="proportion-input form-control mt-1 mb-1 number-box" id="sub{{ subtopic['id']}}hours" type="number" name="subtopic-hours" min="1" value="{{ subtopic['hours'] }}" oninput="updateValue()" required>hours
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-outline-secondary remove-subtopic" type="button" value="{{ subtopic['id'] }}">Remove</button>
                </div>
                <input class="col-sm-1" name="subtopic-id" style="display:none" value="{{ subtopic['id'] }}">
              </div>
            {% endfor %}
            <div id="newSubtopicForms">
                <!-- Dinamically generated -->
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    <button class="btn btn-secondary" type="button" id="addSubtopic">Add one activity</button>
                </div>
            </div>
            <!-- This will collect any removed subtopic forms and send them to server to be deleted from database -->
            <div class="to-be-deleted" style="display:none">
                <!-- Dinamically generated -->
            </div>
            <hr>
            <div class="row ">
                <div class="col-sm-4"></div>
                <div class="col-sm-6"></div>
                <div class=col-sm-2>
                    <a class="btn btn-secondary" href="/userlog" role="button">Back</a>
                    <button class="btn btn-primary save-changes" type="submit">Save</button>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class=col-sm-1>
                    <a href="/deleteplan" class="btn btn-secondary" role="button">Delete this plan</a>
                </div>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/changeplan.js') }}"></script>


{% endblock %}
