{% extends "layout.html" %}

{% block main %}

<div class="card">
    <div class="card-body">
        <div class="account-form">
            <form action="/deleteplan" method="post">
                <h3>Delete your plan</h3><br>
                You are about to delete your whole plan. This includes all your sessions and progress.<br>
                After this, you will be able to create a new learning plan if you wish.<br>
                <b>Are you sure you want to delete your current plan?</b><br>
                <hr>
                <a class="btn btn-special" type="submit" href="/userlog">No, go back</a>
                <button class="btn btn-primary delete-plan" type="submit" name="delete-plan">Yes, delete</button>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/deleteplan.js"></script>
{% endblock %}
