{% extends "layout.html" %}

{% block title %}
    New plan
{% endblock %}

{% block main %}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Great!</h4>
    <p>You have successfully created an account.</p>
</div>

<div class="newplan">
    <!-- Intro tab -->
    <div class="tab card" id="introForm">
        <h1>Set your learning plan</h1>
        <br>
        <h4>Welcome.</h4>
        <p>So you want to learn something new, or maybe improve or re-learn some skills.
        <p>The next 3 steps will help you create a learning plan.
        <br>It might take just a minute if you already thought about this, or it might take some time.
        </p>
        <p>No need to rush. </p>
    </div>
    <form action="/newplan" method="post" id="newplanForm">
        <!-- First tab-->
        <div class="form-group tab card" id="topicForm">
            <h4>1. Write your learning goal</h4>
            <small class="form-text text-muted"><a id="topicExample" data-toggle="collapse" href="#topicExamples" aria-expanded="false" aria-controls="collapseExample">Show tips</a></small>
            <br><input autofocus type="text" class="form-control mt-1 mb-1" id="topicName" name="topicName" required autocomplete="off" size="30"><br>
        </div>
        <!-- Second tab -->
        <div class="form-group tab card" id="subtopicsForm">
            <h4>2. Break it down into smaller pieces</h4>
            <small class="form-text text-muted"><a id="topicExample" data-toggle="collapse" href="#subtopicExamples" aria-expanded="false" aria-controls="collapseExample">Show tips</a></small>
            <br><h3 class="topic-line"></h3>
            <input type="text" class="form-control mt-1 mb-1" name="subtopic" id="subtopic1" required autocomplete="off" size="30"><br>
            <input type="text" class="form-control mt-1 mb-1" name="subtopic" id="subtopic2" required autocomplete="off" size="30"><br>
            <input type="text" class="form-control mt-1 mb-1" name="subtopic" id="subtopic3" required autocomplete="off" size="30"><br>
            <div class="more-subtopics"></div>
            <button class="btn btn-secondary" type="button" id="addSubtopic">Add one more</button><br>
        </div>
        <!-- Third tab -->
        <div class="form-group tab card" id="proportionsForm">
            <h4>3. How many hours to dedicate to each activity?</h4>
            <div id="proportions-fields">
                <!-- Dinamically populated -->
            </div>
        </div>
        <!-- Previous / Next buttons -->
        <div style="overflow:auto;">
          <div style="float:right;">
            <button class="btn btn-secondary" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div>
        <!-- Circles which indicate the steps of the form -->
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
    </form>
    <br>
    <!-- Collapse content -->
    <div class="collapse examples" id="topicExamples">
      <div class="card card-body">
         <p>There is no right or wrong way to do this.</p>
         <p>Be just as specific as you want to be.</p>
         <h5><b>Some examples:</b></h5>
         <img src="{{ url_for('static', filename='imgs/italian1.png') }}" class="card-img-top" alt="italian1.png">
         <hr>
         <img src="{{ url_for('static', filename='imgs/programming1.png') }}" class="card-img-top" alt="programming1.png">
         <hr>
         <img src="{{ url_for('static', filename='imgs/parkour1.png') }}" class="card-img" alt="parkour1.png">
         <hr>
         <img src="{{ url_for('static', filename='imgs/origami1.png') }}" class="card-img" alt="origami1.png">
      </div>
    </div>
    <div class="collapse examples" id="subtopicExamples">
      <div class="card card-body">
        <p>What <i>activities</i> will help you achieve your goal?</p>
        <p>Take time to think about this.</p>
        <p>You might want to search online: <br><i>"How to get started/become better at… ?"</i></p>
        <p>See if it's possible to keep your statements more generic and therfore more manageable in the long run. Specific aspects will naturally come out during your learning process.</p>

        <h5><b>Some examples:</b></h5>
        <img src="{{ url_for('static', filename='imgs/italian2.png') }}" class="card-img" alt="italian2.png">
        <hr>
        <img src="{{ url_for('static', filename='imgs/programming2.png') }}" class="card-img" alt="programming2.png">
        <hr>
        <img src="{{ url_for('static', filename='imgs/parkour2.png') }}" class="card-img" alt="parkour2.png">
        <hr>
        <img src="{{ url_for('static', filename='imgs/origami2.png') }}" class="card-img" alt="origami2.png">
      </div>
    </div>
    <div class="collapse examples" id="proportionExamples">
      <div class="card card-body">
        <p>Think of what you can achieve by practicing one skill for a total of 10 hours. Or 15. Or even 30!</p>
        <p>So now take time to consider:</p>
        <ul>
            <li>What do I want as my main focus?</li>
            <li>What is more important for me, to be good at?</li>
            <li>What could be more challenging for me and so deserve more practice?</li>
        </ul>
        <p>Some activities might seem less pleasing to you, but still be relevant or necessary to achieve your goal. Consider dedicating some time to those as well.</p>
        <p>You may have a look at these examples, and keep in mind this is completely personal.</p>

        <h5><b>Some examples:</b></h5>
        <img src="{{ url_for('static', filename='imgs/italian3.png') }}" class="card-img" alt="italian3.png">
        <hr>
        <img src="{{ url_for('static', filename='imgs/programming3.png') }}" class="card-img" alt="programming3.png">
        <hr>
        <img src="{{ url_for('static', filename='imgs/parkour3.png') }}" class="card-img" alt="parkour3.png">
        <hr>
        <img src="{{ url_for('static', filename='imgs/origami3.png') }}" class="card-img" alt="origami3.png">
      </div>
    </div>
</div>

<script src="/static/js/newplan.js"></script>

{% endblock %}
